body {
    margin: 0;
    font-family: 'circular', sans-serif;
    width: 100%;
  }
  .header {
    overflow: hidden;
    background-color: #fff;
    padding: 20px 20px 20px 30px;
  }
  .one-edge-shadow {
    box-shadow: 0 3px 6px -6px black;
  }
  h1.brand-logo {
    height: 65px;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: block;
    text-indent: -9999px;
    width: 380px;
    background-size: 380px 74px;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url(/images/logo-permutive.svg);
    padding-right: 20px;
    top: 0px;
    position: fixed;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  .submit, .add-property {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-radius: 0px;
    border: 0;
    font-size: 18px;
    font-family: 'circular', sans-serif;
    padding: 10px;
    /* float: right; */
    background-color: rgb(122,211,183);
    color: rgb(255,255,255);
    margin-top: 30px;
  }
  
  .add-sub-property {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-radius: 0px;
    border: 0;
    font-size: 18px;
    font-family: 'circular', sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    /* float: right; */
    background-color: rgb(122,211,183);
    color: rgb(255,255,255);
    margin-top: 10px;
    margin-bottom: 30px;
  }
  
  .edit-btn{
    border: 0;
  }
  
  .submit:hover, .add-property:hover, .add-sub-property:hover{
    background-color: rgb(89,193,159);
    color: rgb(255,255,255);
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 50px;
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #fff;
    color: black;
  }
  
  /* Style the active/current link*/
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }
  .column {
    float: left;
    width: 50%;
    height: 50%;
    padding-bottom: 30px;
  }
  
  .container{
    padding: 30px;
  }
  
  .variables{
    float: left;
    width: 14%;
    height: 50%;
    max-height: 510px;
    overflow: auto;
    font-size: 18px;
    font-family: 'circular', sans-serif;
  }
  
  .property-item{
    list-style: none;
    line-height: 50px;
    font-size: 18px;
    border-top: 1px solid rgb(238, 238, 238);
    padding: 10px;
    /* border-bottom: 1px solid rgb(221, 221, 221); */
  }
  
  #property-type{
    float: right;
  }
  
  .variables-list{
    list-style: none;
    margin-left: -25px;
    min-height: 467px;
  }
  
  .variables-list li{
    line-height: 30px;
  }
  
  .variables-list:empty{
    float: left;
    width: 14%;
    height: 50%;
    min-height: 510px;
    overflow: auto;
    font-size: 18px;
    font-family: 'circular', sans-serif;
  }
  
  .ad-slot-render {
    padding: 30px;
    border-top: 1px solid rgb(221, 221, 221);
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  pre{
    margin: 0;
  }
  
  pre code {
    margin-top: -30px;
    margin-bottom: -30px;
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    overflow-wrap: break-word;
    min-height: 475px;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }
  
  div {
    /* border-left: 1px solid rgb(221, 221, 221); */
  }
  
  .custom-input{
    border:0;
    display: none;
  }
  
  .ad-drop{
    border: 0;
    margin: 0px;
  }
  
  .custom-input input{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-radius: 0px;
    border: 1px solid rgb(221, 221, 221);
    font-size: 18px;
    font-family: 'circular', sans-serif;
    padding: 10px;
    width: 70px;
    margin-left: 10px;
    margin-right: 20px;
  }
  
  .var-input{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-radius: 0px;
    border: 1px solid rgb(221, 221, 221);
    font-size: 18px;
    font-family: 'circular', sans-serif;
    padding: 10px;
    width: 70px;
    margin-left: 10px;
    margin-right: 20px;
  }
  
  #domains-list{
    border: none;
  }
  
  #ad-size.custom-select {
    margin: 0;
  }
  
  #client-input.text-input, #sa-input.text-input, #csm-input.text-input, #apikey-input.text-input, #projectid-input.text-input, #domains-input.text-input {
    margin: 0;
    width: 85%;
  }
  
  .copy{
    position: fixed;
    height: 50px;
    width: 50px;
    margin: 0;
    color: #fff;
    background-color: white;
  }
  
  .custom-select {
    
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-radius: 0px;
    border: 1px solid rgb(221, 221, 221);
    font-size: 18px;
    font-family: 'circular', sans-serif;
    padding: 10px;
    margin-left: 10px;
  }
  .custom-select::-ms-expand {
    display: none;
  }
  .custom-select:hover {
    border-color: #888;
  }
  .custom-select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
  }
  .custom-select option {
    font-weight:normal;
  }
  @media screen and (max-width: 708px) {
    .column{
      width: 100%;
    }
    .ad-definition{
      width: 90%;
    }
    pre code{
      width: 100%;
    }
    .variables{
      width: 100%;
    }
  }
  
  li:first-child {
    border: none;
  }
  
  textarea {
    position: absolute;
    left: -100%;
  }
  
  .delete{
    position: relative;
    width: 36px;
    height: 36px;
    height: 35px;
    left: 188px;
    border: none;
    float: right;
    top: 6px;
  }
  
  ul {
    border-left: 2px solid rgb(221, 221, 221);
  }
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    bottom: 0;
    /* background: rgba(0, 0, 0, 0.5); */
    color: #000;
    width: 100%;
    padding: 30px;
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }

  body {
    margin: 0;
    font-family: 'circular', sans-serif;
    width: 100%;
    font-size: 14px;
  }

  h1{
      font-size: 40px;
  }

  p{
      font-size: 15px;
  }

  a:link {
    text-decoration: none;
    color: #000;
  }
  
  a:visited {
    text-decoration: none;
    color: #000;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }