/**
 * Circular
 */
 @font-face {
    font-family: 'circular';
    src: local('â˜º'),
         url('./fonts/circular/circular-book-web.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'circular';
    src: local('â˜º'),
         url('./fonts/circular/circular-medium-web.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'circular';
    src: local('â˜º'),
         url('./fonts/circular/circular-bold-web.woff') format('woff');
    font-weight: 900;
    font-style: normal;
  }